APScheduler==3.10.1
certifi==2023.5.7
charset-normalizer==3.1.0
DingtalkChatbot==1.5.7
holidays==0.27.1
idna==3.4
optionaldict==0.1.2
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
tzlocal==5.0.1
urllib3==2.0.3
